body {
    background-color: #1189FF;
}
.progress-panel {
    width:100%;
    height:100%;
    position:fixed;
    z-index:1;
	display: none;
}
.progress-spinner {
	padding-top: 25%;
    padding-left: 44%;
}
.loading-progress-bar {
	height: 12%;
	width: 12%;
	margin: 0px auto;
	position: relative;
}